.link-button{
  display:block;
  width: 760px;
  margin: 0 auto;
  background-color: #2c488a;
  margin-bottom: 32px;
  p{
    a{
      display: block;
      width: 100%;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      color: #fff;
    }
  }
}
