@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font-family: Verdana,'游ゴシック体','Yu Gothic',YuGothic,sans-serif;
}

h2 {
  font-family: Verdana,'游ゴシック体','Yu Gothic',YuGothic,sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #424242;
}

ul, li {
  list-style: none;
}

.fa_size {
  font-size: 2em;
}

.rank_no {
  position: absolute;
  top: 12px;
  left: 14px;
  font-size: 0.5em;
}

.left {
  float: left;
}

.section-title-ja {
  display: inline;
  font-size: 20px;
}

.section-title-en {
  display: block;
  margin-top: 6px;
  font-size: 16px;
  color: #6d6d6d;
}

.color_rk1 {
  color: #E29414;
}

.color_rk2 {
  color: #908D92;
}

.color_rk3 {
  color: #A7280E;
}

.color_white {
  color: #fff;
}

footer {
  text-align: center;
}
footer .footer-toppage {
  display: block;
  width: 100%;
  background-color: #373737;
  text-align: center;
}
footer .footer-toppage a {
  display: block;
  padding: 20px;
  color: #fff;
}
footer ul {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #454545;
  border-bottom: solid 1px #373737;
  box-sizing: border-box;
}
footer ul li {
  display: inline-block;
  margin-right: 12px;
}
footer ul li a {
  color: #fff;
  font-size: 0.8rem;
}
footer .footer-copyright {
  display: block;
  padding: 20px;
  background-color: #454545;
  color: #9d9d9d;
  font-size: 0.8rem;
}

/*------------------------------------
|                                    |
|                header              |
|                                    |
------------------------------------*/
@media screen and (min-width: 768px) {
  .header {
    display: block;
    width: 100%;
    background-color: #2c488a;
  }
  .header::after {
    display: block;
    clear: both;
    content: "";
  }
  .header .toggle-menu {
    display: block;
    float: left;
    width: 100px;
    text-align: center;
  }
  .header .toggle-menu .toggle-button {
    display: block;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
  }
  .header .toggle-menu .toggle-button-text span {
    display: block;
    position: relative;
    top: 17px;
    left: 0;
    font-size: 12px;
    color: #fff;
  }
  .header .header-logo {
    display: block;
    float: left;
    padding-top: 8px;
    color: #fff;
  }
  .header .header-logo img {
    width: 120px;
  }
}
/*--------------------------------------
              Toggle-menu
---------------------------------------*/
.toggle-button,
.toggle-button span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.toggle-button {
  position: relative;
  width: 16px;
  height: 16px;
  padding-left: 25px;
}

.toggle-menu .line {
  position: absolute;
  left: 0;
  width: 16px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
}

.toggle-menu span:nth-of-type(1) {
  top: 19px;
  left: 12px;
}

.toggle-menu span:nth-of-type(2) {
  top: 26px;
  left: 12px;
}

.toggle-menu span:nth-of-type(3) {
  top: 33px;
  left: 12px;
}

.close {
  display: none;
}

@media screen and (min-width: 786px) {
  .continer {
    width: 100%;
    padding: 20px;
    background-color: #eee;
    box-sizing: border-box;
  }

  .wrapper {
    display: block;
    max-width: 1240px;
    min-width: 720px;
    margin: 0 auto;
  }

  .local-nav {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .local-nav ul::after {
    display: block;
    clear: both;
    content: "";
  }
  .local-nav ul li {
    display: block;
    float: left;
    width: calc(100%/3);
    text-align: center;
    border-right: solid 1px #d4d4d4;
    box-sizing: border-box;
  }
  .local-nav ul li:last-child {
    border-right: none;
  }
  .local-nav ul li a {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    border-bottom: solid 4px #d4d4d4;
  }
  .local-nav ul li a:hover {
    color: #2c488a;
    background-color: #efefef;
    border-bottom: solid 4px #2c488a;
  }

  /* Login */
  .login {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .login ul:after {
    display: block;
    clear: both;
    content: "";
  }
  .login ul li {
    display: block;
    float: left;
    width: 190px;
    margin-right: 20px;
  }
  .login ul li a {
    display: block;
    width: 100%;
    padding: 8px 0;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .login ul li:first-child a {
    background-color: #b71c1c;
    color: #fff;
  }
  .login ul li:last-child a {
    background-color: #fff;
    border: solid 1px #b71c1c;
    color: #b71c1c;
  }

  /* Ranking */
  .ranking-area {
    display: block;
  }
  .ranking-area h2 {
    margin-left: 20px;
    padding: 0 10px;
    border-left: solid 5px #b71c1c;
  }

  .ranking:after {
    display: block;
    clear: both;
    content: "";
  }
  .ranking .ranking-item {
    display: block;
    float: left;
    width: 31%;
    margin-top: 24px;
    margin-right: 2%;
  }
  .ranking .ranking-item:after {
    margin-right: 0;
  }
  .ranking .ranking-item .ranking-image {
    display: block;
    width: 100%;
  }
  .ranking .ranking-item .ranking-text {
    position: relative;
    background-color: #fff;
    margin-top: -2px;
    padding: 8px;
    padding-bottom: 12px;
  }
  .ranking .ranking-item .ranking-text:after {
    display: block;
    clear: both;
    content: "";
  }
  .ranking .ranking-item .ranking-text h2 {
    float: left;
    padding-top: 7px;
    padding-left: 8px;
    border: none;
  }

  .inner-image {
    width: 100%;
    height: auto;
  }

  .infomation {
    display: block;
    margin-top: 30px;
  }
  .infomation:after {
    display: block;
    clear: both;
    content: "";
  }
  .infomation h2 {
    margin-left: 20px;
    padding: 0 10px;
    border-left: solid 5px #b71c1c;
  }
  .infomation .info-item {
    display: block;
    float: left;
    width: 31%;
    margin-top: 24px;
    margin-right: 2%;
  }
  .infomation .info-item:after {
    margin-right: 0;
  }
  .infomation .info-item .info-image {
    display: block;
    width: 100%;
    height: auto;
  }

  .info-text {
    display: block;
    background-color: #fff;
  }
  .info-text h2 {
    width: 35%;
    padding: 8px;
    margin-top: -2px;
    margin-left: 0;
    background-color: #f26060;
    color: #fff;
    border: none;
    text-align: center;
  }
  .info-text p {
    height: 71px;
    padding: 8px;
    font-size: 1.2rem;
  }

  .Import-Information {
    display: block;
    margin-top: 30px;
  }
  .Import-Information h2 {
    margin-left: 20px;
    padding: 0 10px;
    border-left: solid 5px #b71c1c;
  }
  .Import-Information ul {
    width: 100%;
    background-color: #fff;
    margin-top: 12px;
    padding: 14px 0;
    padding-left: 14px;
    box-sizing: border-box;
  }
  .Import-Information ul li {
    margin-bottom: 12px;
    font-size: 1.2rem;
  }
  .Import-Information ul li a {
    color: #f00;
  }
  .Import-Information ul li:last-child {
    margin-bottom: 0;
  }

  .comingsoon {
    display: block;
    margin-top: 30px;
  }
  .comingsoon:after {
    display: block;
    clear: both;
    content: "";
  }
  .comingsoon h2 {
    margin-left: 20px;
    padding: 0 10px;
    border-left: solid 5px #b71c1c;
  }

  .schedule-coming h3 {
    width: 100%;
    margin-top: 23px;
    color: #fff;
    background-color: #454545;
    padding: 12px 0;
    text-align: center;
  }

  .content {
    display: block;
    margin-top: 30px;
    margin-bottom: 56px;
  }
  .content:after {
    display: block;
    clear: both;
    content: "";
  }
  .content h2 {
    margin-left: 20px;
    padding: 0 10px;
    border-left: solid 5px #b71c1c;
  }
  .content .content-item {
    display: block;
    float: left;
    width: 31%;
    margin-top: 24px;
    margin-right: 2%;
  }
  .content .content-item:after {
    margin-right: 0;
  }
  .content .content-item .content-image {
    display: block;
    width: 100%;
    height: auto;
  }

  .content-text {
    display: block;
    background-color: #fff;
    margin-top: -2px;
    text-align: center;
  }
  .content-text p {
    width: 100%;
    text-align: center;
    padding: 24px 12px;
    font-size: 1.2rem;
    box-sizing: border-box;
  }
}
.link-button {
  display: block;
  width: 760px;
  margin: 0 auto;
  background-color: #2c488a;
  margin-bottom: 32px;
}
.link-button p a {
  display: block;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: #fff;
}

.text-slender {
  font-size: 8px;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
