@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font-family: Verdana,'游ゴシック体','Yu Gothic',YuGothic,sans-serif;
}

h2 {
  font-family: Verdana,'游ゴシック体','Yu Gothic',YuGothic,sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #424242;
}

ul, li {
  list-style: none;
}

.fa_size {
  font-size: 2em;
}

.rank_no {
  position: absolute;
  top: 12px;
  left: 14px;
  font-size: 0.5em;
}

.left {
  float: left;
}

.section-title-ja {
  display: inline;
  font-size: 20px;
}

.section-title-en {
  display: block;
  margin-top: 6px;
  font-size: 16px;
  color: #6d6d6d;
}

.color_rk1 {
  color: #E29414;
}

.color_rk2 {
  color: #908D92;
}

.color_rk3 {
  color: #A7280E;
}

.color_white {
  color: #fff;
}

.bc-eee {
  background-color: #eee;
}

footer {
  text-align: center;
}
footer .footer-toppage {
  display: block;
  width: 100%;
  background-color: #373737;
  text-align: center;
}
footer .footer-toppage a {
  display: block;
  padding: 20px;
  color: #fff;
}
footer ul {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #454545;
  border-bottom: solid 1px #373737;
  box-sizing: border-box;
}
footer ul li {
  display: inline-block;
  margin-right: 12px;
}
footer ul li a {
  color: #fff;
  font-size: 0.8rem;
}
footer .footer-copyright {
  display: block;
  padding: 20px;
  background-color: #454545;
  color: #9d9d9d;
  font-size: 0.8rem;
}

/*------------------------------------
|                                    |
|                header              |
|                                    |
------------------------------------*/
@media screen and (min-width: 768px) {
  .header {
    display: block;
    width: 100%;
    background-color: #2c488a;
  }
  .header::after {
    display: block;
    clear: both;
    content: "";
  }
  .header .toggle-menu {
    display: block;
    float: left;
    width: 100px;
    text-align: center;
  }
  .header .toggle-menu .toggle-button {
    display: block;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
  }
  .header .toggle-menu .toggle-button-text span {
    display: block;
    position: relative;
    top: 17px;
    left: 0;
    font-size: 12px;
    color: #fff;
  }
  .header .header-logo {
    display: block;
    float: left;
    padding-top: 8px;
    color: #fff;
  }
  .header .header-logo img {
    width: 120px;
  }
}
.header-inner {
  display: block;
  width: 960px;
  margin: 0 auto;
}

.reserv-header {
  display: block;
  width: 100%;
  background-color: #2c488a;
}
.reserv-header::after {
  display: block;
  clear: both;
  content: "";
}
.reserv-header .header-logo {
  display: block;
  float: left;
  padding-top: 8px;
  color: #fff;
}
.reserv-header .header-logo img {
  width: 120px;
}

/*--------------------------------------
              Toggle-menu
---------------------------------------*/
.toggle-button,
.toggle-button span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.toggle-button {
  position: relative;
  width: 16px;
  height: 16px;
  padding-left: 25px;
}

.toggle-menu .line {
  position: absolute;
  left: 0;
  width: 16px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
}

.toggle-menu span:nth-of-type(1) {
  top: 19px;
  left: 12px;
}

.toggle-menu span:nth-of-type(2) {
  top: 26px;
  left: 12px;
}

.toggle-menu span:nth-of-type(3) {
  top: 33px;
  left: 12px;
}

.close {
  display: none;
}

@media screen and (min-width: 786px) {
  .continer {
    width: 100%;
    padding: 20px;
    background-color: #eee;
    box-sizing: border-box;
  }

  .wrapper {
    display: block;
    max-width: 1240px;
    min-width: 720px;
    margin: 0 auto;
  }

  .local-nav {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .local-nav ul::after {
    display: block;
    clear: both;
    content: "";
  }
  .local-nav ul li {
    display: block;
    float: left;
    width: calc(100%/3);
    text-align: center;
    border-right: solid 1px #d4d4d4;
    box-sizing: border-box;
  }
  .local-nav ul li:last-child {
    border-right: none;
  }
  .local-nav ul li a {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    border-bottom: solid 4px #d4d4d4;
  }
  .local-nav ul li a:hover {
    color: #2c488a;
    background-color: #efefef;
    border-bottom: solid 4px #2c488a;
  }

  /* Login */
  .login {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .login p {
    margin-top: 50px;
    margin-bottom: 24px;
  }
  .login ul {
    text-align: center;
  }
  .login ul:after {
    display: block;
    clear: both;
    content: "";
  }
  .login ul li {
    display: block;
    float: left;
    width: 190px;
    margin-right: 20px;
  }
  .login ul li a {
    display: block;
    width: 100%;
    padding: 8px 0;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .login ul li:first-child a {
    background-color: #b71c1c;
    color: #fff;
  }
  .login ul li:last-child a {
    background-color: #fff;
    border: solid 1px #b71c1c;
    color: #b71c1c;
  }

  .ticket-login {
    width: 420px;
    margin: 0 auto;
  }

  /* Ranking */
  .ranking-area {
    display: block;
  }
  .ranking-area h2 {
    margin-left: 20px;
    padding: 0 10px;
    border-left: solid 5px #b71c1c;
  }

  .ranking:after {
    display: block;
    clear: both;
    content: "";
  }
  .ranking .ranking-item {
    display: block;
    float: left;
    width: 31%;
    margin-top: 24px;
    margin-right: 2%;
  }
  .ranking .ranking-item:after {
    margin-right: 0;
  }
  .ranking .ranking-item .ranking-image {
    display: block;
    width: 100%;
  }
  .ranking .ranking-item .ranking-text {
    position: relative;
    background-color: #fff;
    margin-top: -2px;
    padding: 8px;
    padding-bottom: 12px;
  }
  .ranking .ranking-item .ranking-text:after {
    display: block;
    clear: both;
    content: "";
  }
  .ranking .ranking-item .ranking-text h2 {
    float: left;
    padding-top: 7px;
    padding-left: 8px;
    border: none;
  }

  .inner-image {
    width: 100%;
    height: auto;
  }

  .infomation {
    display: block;
    margin-top: 30px;
  }
  .infomation:after {
    display: block;
    clear: both;
    content: "";
  }
  .infomation h2 {
    margin-left: 20px;
    padding: 0 10px;
    border-left: solid 5px #b71c1c;
  }
  .infomation .info-item {
    display: block;
    float: left;
    width: 31%;
    margin-top: 24px;
    margin-right: 2%;
  }
  .infomation .info-item:after {
    margin-right: 0;
  }
  .infomation .info-item .info-image {
    display: block;
    width: 100%;
    height: auto;
  }

  .info-text {
    display: block;
    background-color: #fff;
  }
  .info-text h2 {
    width: 35%;
    padding: 8px;
    margin-top: -2px;
    margin-left: 0;
    background-color: #f26060;
    color: #fff;
    border: none;
    text-align: center;
  }
  .info-text p {
    height: 71px;
    padding: 8px;
    font-size: 1.2rem;
  }

  .Import-Information {
    display: block;
    margin-top: 30px;
  }
  .Import-Information h2 {
    margin-left: 20px;
    padding: 0 10px;
    border-left: solid 5px #b71c1c;
  }
  .Import-Information ul {
    width: 100%;
    background-color: #fff;
    margin-top: 12px;
    padding: 14px 0;
    padding-left: 14px;
    box-sizing: border-box;
  }
  .Import-Information ul li {
    margin-bottom: 12px;
    font-size: 1.2rem;
  }
  .Import-Information ul li a {
    color: #f00;
  }
  .Import-Information ul li:last-child {
    margin-bottom: 0;
  }

  .comingsoon {
    display: block;
    margin-top: 30px;
  }
  .comingsoon:after {
    display: block;
    clear: both;
    content: "";
  }
  .comingsoon h2 {
    margin-left: 20px;
    padding: 0 10px;
    border-left: solid 5px #b71c1c;
  }

  .schedule-coming h3 {
    width: 100%;
    margin-top: 23px;
    color: #fff;
    background-color: #454545;
    padding: 12px 0;
    text-align: center;
  }
  .schedule-coming ul {
    display: block;
    width: 100%;
    border-right: solid 1px #ccc;
    border-left: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    background-color: #d4d4d4;
    text-align: center;
    box-sizing: border-box;
  }
  .schedule-coming ul::after {
    display: block;
    clear: both;
    content: "";
  }
  .schedule-coming li {
    display: block;
    float: left;
    width: calc(100% / 7);
    padding: 12px 12px;
    border-right: solid 1px #ccc;
    text-align: center;
    background-color: #d4d4d4;
    font-weight: bold;
    box-sizing: border-box;
  }

  .movie-day {
    display: block;
    width: 100%;
    margin-top: 48px;
    padding: 16px 0;
    padding-left: 24px;
    color: #454545;
    background-color: #ccc;
    box-sizing: border-box;
  }
  .movie-day h3 {
    font-weight: bold;
  }

  .content {
    display: block;
    margin-top: 30px;
    margin-bottom: 56px;
  }
  .content::after {
    display: block;
    clear: both;
    content: "";
  }
  .content h2 {
    margin-left: 20px;
    padding: 0 10px;
    border-left: solid 5px #b71c1c;
  }
  .content .content-item {
    display: block;
    float: left;
    width: 31%;
    margin-top: 24px;
    margin-right: 3.5%;
  }
  .content .content-item:nth-child(3n) {
    margin-right: 0;
  }
  .content .content-item:after {
    margin-right: 0;
  }
  .content .content-item .content-image {
    display: block;
    width: 100%;
    height: auto;
  }

  .content-text {
    display: block;
    background-color: #fff;
    margin-top: -2px;
    text-align: center;
  }
  .content-text p {
    width: 100%;
    text-align: center;
    padding: 24px 12px;
    font-size: 1.2rem;
    box-sizing: border-box;
  }
}
.comingsoon {
  display: block;
  margin-top: 30px;
  margin-bottom: 56px;
}
.comingsoon::after {
  display: block;
  clear: both;
  content: "";
}
.comingsoon h2 {
  margin-left: 20px;
  padding: 0 10px;
  border-left: solid 5px #b71c1c;
}
.comingsoon .content-item {
  display: block;
  float: left;
  width: 31%;
  margin-top: 24px;
  margin-right: 3.5%;
}
.comingsoon .content-item:nth-child(3n+1) {
  margin-right: 0;
}
.comingsoon .content-item:after {
  margin-right: 0;
}
.comingsoon .content-item .content-image {
  display: block;
  width: 100%;
  height: auto;
}

.content-box::after {
  display: block;
  clear: both;
  content: "";
}

.content-box:after {
  display: block;
  clear: both;
  content: "";
}

/* reserv  */
.step {
  display: block;
  position: relative;
}
.step ul {
  display: table;
}
.step ul li {
  position: relative;
  display: table-cell;
  color: #b71c1c;
  margin-right: 12px;
  padding-right: 50px;
}
.step ul li:after {
  position: absolute;
  display: block;
  width: 16px;
  height: 4px;
  top: 10px;
  right: 18px;
  background-color: #bdbdbd;
  border-radius: 2px/50%;
  transform: rotate(45deg);
  content: "";
}
.step ul li:before {
  position: absolute;
  display: block;
  width: 16px;
  height: 4px;
  top: 18px;
  right: 18px;
  background-color: #bdbdbd;
  border-radius: 2px/50%;
  transform: rotate(135deg);
  content: "";
}

.ticket {
  display: block;
  margin-top: 32px;
}
.ticket ul li {
  margin: 12px;
}

.ticket-select {
  display: block;
  width: 50%;
  padding: 12px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  box-sizing: border-box;
}

.tickets-select-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  min-width: 192px;
  min-width: 12em;
  background-color: #bdbdbd;
  border: 1px solid #c0c0c0;
  color: #333;
}
.tickets-select-btn select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
  display: block;
  width: 200%;
  /* fallback non calc support */
  width: -webkit-calc(100% + 5em);
  margin: 0;
  padding: 11px 35px 11px 11px;
  padding: .6875rem 2.1875rem .6875rem .6875rem;
  background: transparent;
  border: 0;
  outline: none;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

.food_drink {
  display: block;
  width: 100%;
  margin-top: 50px;
}
.food_drink:after {
  display: block;
  clear: both;
  content: "";
}
.food_drink p {
  margin-top: 24px;
}
.food_drink .food_drink_area {
  width: 650px;
  margin: 0 auto;
}
.food_drink .drink {
  display: block;
  width: 250px;
  float: left;
  margin-right: 24px;
}
.food_drink .drink select {
  position: relative;
  width: 100%;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #999;
  background: #fff;
}
.food_drink .volume {
  display: block;
  width: 250px;
  float: left;
  margin-right: 24px;
}
.food_drink .volume select {
  position: relative;
  width: 100%;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #999;
  background: #fff;
}
.food_drink .food_drink_image {
  display: block;
  width: 100px;
  padding-top: 20px;
  float: left;
}
.food_drink .food_drink_image img {
  width: auto;
  height: 80px;
}

.ticket-form p {
  margin-top: 50px;
  margin-bottom: 24px;
  vertical-align: middle;
}
.ticket-form form {
  width: 550px;
  margin: 0 auto;
  margin-top: 48px;
}
.ticket-form form label {
  display: inline-block;
  width: 200px;
  font-size: 1rem;
  line-height: 2em;
}
.ticket-form form p {
  margin-top: 16px;
  margin-bottom: 16px;
}
.ticket-form form input[type=text] {
  border: 0;
  padding: 4px;
  font-size: 1.3em;
  font-family: Arial, sans-serif;
  color: #aaa;
  border: solid 1px #ccc;
  width: 300px;
}

.confirmation {
  display: block;
  width: 100%;
  margin-top: 72px;
  text-align: center;
}
.confirmation li {
  display: inline-block;
  width: 180px;
  margin-right: 24px;
}
.confirmation li a:first-child {
  display: block;
  width: 100%;
  padding: 12px 12px;
  background-color: #fff;
  color: #2d2d2d;
  box-sizing: border-box;
}
.confirmation li:first-child a {
  background-color: #b71c1c;
  color: #fff;
}

.user-card {
  display: block;
  margin-top: 24px;
}
.user-card ul {
  width: 45%;
  margin: 0 auto;
}
.user-card dl {
  border-bottom: 1px solid #eee;
  padding: 16px 0;
  margin: 0;
}
.user-card dt, .user-card dd {
  display: table-cell;
  vertical-align: middle;
}
.user-card dt {
  width: 113px;
  color: #666;
}
.user-card .btn {
  padding: 30px 0 0 30px;
  float: left;
}
.user-card form {
  margin-top: 24px;
}
.user-card input[type="submit"] {
  background: #c34141;
  border: none;
  color: #fff;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  width: 200px;
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}
.user-card input[type="submit"]:hover {
  background-color: #e67168;
}
.user-card .btn2 {
  padding: 30px 0 0 30px;
  margin-left: 300px;
}
.user-card .btn2 a {
  text-decoration: none;
  text-align: center;
  background: #fefefe;
  color: #666;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  width: 220px;
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}
.user-card .btn2 a:hover {
  background-color: #ccc;
}
.user-card .year::after {
  display: block;
  content: "/年";
}
.user-card .year h2 {
  font-size: 15px;
  float: left;
  padding: 10px 0;
  font-weight: normal;
  color: #666;
}
.user-card .sl {
  margin-left: 200px;
  padding: 20px 0;
}
.user-card select {
  position: relative;
  float: left;
  width: 100px;
  padding: 10px;
  margin-right: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  background: #fff;
}
.user-card select::after {
  display: block;
}
.user-card input[type=text] {
  border: 0;
  padding: 4px;
  font-size: 1.3em;
  font-family: Arial, sans-serif;
  color: #aaa;
  border: solid 1px #ccc;
  width: 300px;
}

/* ======================
        detail.html
======================== */
.detail-box01 {
  width: 100%;
  height: auto;
}

.detail-boxA {
  width: 50%;
  height: auto;
  float: left;
}

.detail-boxB {
  width: 50%;
  float: left;
  margin-bottom: 100px;
}

.detail-img {
  width: 100%;
}

.detail-title {
  text-align: center;
  padding: 10px;
}

.detail-text {
  padding-left: 30px;
  line-height: 25px;
  font-size: 17px;
}

.detail-theaterList {
  clear: both;
  margin-bottom: 100px;
}

.tab {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.tab li {
  background: #0000ff;
  padding: 5px 25px;
  float: left;
  margin-right: 1px;
  color: #fff;
}

.tab li.select {
  background: #4169e1;
}

.address-theater {
  background-color: #4169e1;
  margin-bottom: 50px;
}

.address-theater li {
  color: #fff;
  padding: 20px;
}

.address-theater li a {
  color: #fff;
  line-height: 30px;
}

.hide {
  display: none;
}

.pre a:hover {
  color: #ccc;
}

.date-tab {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.date-tab li {
  background: #0000ff;
  padding: 5px 25px;
  float: left;
  margin-right: 1px;
  color: #fff;
}

.date-tab li.select {
  background: #4169e1;
}

.date-content {
  background-color: #4169e1;
  margin-bottom: 50px;
}

.date-content li {
  color: #fff;
  padding: 20px;
}

.date-content li a {
  color: #fff;
  line-height: 30px;
}

.hide {
  display: none;
}

.time a:hover {
  color: #ccc;
}

.link-commingsoon {
  text-align: center;
  padding: 20px;
  margin: 20px 100px 20px 100px;
  background-color: #0000ff;
}

.link-commingsoon a {
  color: #fff;
}

.link-commingsoon:hover {
  background-color: #4169e1;
}

.link-theater {
  text-align: center;
  padding: 20px;
  margin: 20px 100px 20px 100px;
  background-color: #0000ff;
}

.link-theater a {
  color: #fff;
}

.link-theater:hover {
  background-color: #4169e1;
}

/*=====================
        user-date
======================*/
.mypage {
  width: 80%;
  margin: 0 auto;
  margin-top: 24px;
}
.mypage h2 {
  color: #666;
}
.mypage a {
  text-decoration: none;
  color: #666;
}
.mypage .contents {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}
.mypage .contents img {
  margin: 0 76px;
}
.mypage .contents p {
  margin: 0 76px;
}
.mypage .meil {
  text-align: center;
  float: left;
  color: #444;
}
.mypage .meil:hover {
  color: #999;
}
.mypage .key {
  text-align: center;
  float: left;
  color: #444;
}
.mypage .key:hover {
  color: #999;
}
.mypage .data {
  text-align: center;
  float: left;
  color: #444;
}
.mypage .data:hover {
  color: #999;
}
.mypage .history {
  clear: left;
  padding-top: 20px;
}
.mypage .btnt {
  float: right;
}
.mypage input[type="submit"] {
  background: #c34141;
  border: none;
  color: #fff;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  width: 100px;
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}
.mypage input[type="submit"]:hover {
  background-color: #e67168;
}

/* user-info */
.user-info {
  display: block;
  margin-top: 24px;
}
.user-info h1 {
  width: 42%;
  margin: 0 auto;
  font-size: 20px;
  color: #666;
  padding-top: 20px;
}
.user-info ul {
  width: 45%;
  margin: 0 auto;
}
.user-info dl {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  margin: 0;
}
.user-info dt, .user-info dd {
  display: table-cell;
  vertical-align: middle;
}
.user-info dt {
  width: 200px;
  color: #666;
  vertical-align: middle;
}
.user-info .btn {
  padding: 30px 0 0 30px;
  float: left;
}
.user-info input[type="submit"] {
  background: #c34141;
  border: none;
  color: #fff;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  width: 200px;
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}
.user-info input[type="submit"]:hover {
  background-color: #e67168;
}
.user-info .btn2 {
  padding: 30px 0 0 30px;
  margin-left: 300px;
}
.user-info .btn2 a {
  text-decoration: none;
  text-align: center;
  background: #fefefe;
  color: #666;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  width: 220px;
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}
.user-info .btn2 a:hover {
  background-color: #ccc;
}
.user-info .year h2 {
  font-size: 15px;
  float: left;
  padding: 10px 0;
  font-weight: normal;
  color: #666;
}
.user-info .sl {
  margin-left: 200px;
  padding: 20px 0;
}
.user-info select {
  width: 100px;
}

.user-add-form {
  display: block;
  margin-top: 24px;
  font-size: 15px;
}
.user-add-form h1 {
  width: 42%;
  margin: 0 auto;
  font-size: 20px;
  color: #666;
}
.user-add-form h4 {
  font-size: 15px;
  color: #666;
}
.user-add-form p {
  width: 42%;
  margin: 0 auto;
  color: #666;
}
.user-add-form ul {
  width: 45%;
  margin: 0 auto;
}
.user-add-form dl {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  margin: 0;
}
.user-add-form dt, .user-add-form dd {
  display: table-cell;
  vertical-align: middle;
  color: #e1000f;
}
.user-add-form dt {
  width: 200px;
  color: #666;
}
.user-add-form .btn {
  padding: 20px 0;
}
.user-add-form span {
  color: #e1000f;
}
.user-add-form .year h2 {
  font-size: 15px;
  float: left;
  padding: 10px 0;
  font-weight: normal;
  color: #666;
}
.user-add-form .sl {
  margin-left: 200px;
  padding: 20px 0;
}
.user-add-form select {
  width: 70px;
}
.user-add-form .radiobutton input {
  display: none;
}
.user-add-form .radiobutton label {
  display: block;
  float: left;
  cursor: pointer;
  width: 60px;
  margin: 0;
  padding: 10px;
  background: #bdc3c7;
  color: #869198;
  font-size: 16px;
  text-align: center;
  line-height: 1;
  transition: .2s;
}
.user-add-form .radiobutton label:first-of-type {
  border-radius: 3px 0 0 3px;
}
.user-add-form .radiobutton label:last-of-type {
  border-radius: 0 3px 3px 0;
}
.user-add-form .radiobutton input[type="radio"]:checked + .switch-on {
  background-color: #6495ED;
  color: #fff;
}
.user-add-form .radiobutton input[type="radio"]:checked + .switch-off {
  background-color: #e67168;
  color: #fff;
}
.user-add-form input[type="submit"] {
  background: #c34141;
  border: none;
  color: #fff;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  width: 200px;
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}
.user-add-form input[type="submit"]:hover {
  background-color: #e67168;
}

.link-button {
  display: block;
  width: 760px;
  margin: 0 auto;
  background-color: #2c488a;
  margin-bottom: 32px;
}
.link-button p a {
  display: block;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: #fff;
}

.clearfix::after, .user-card dt::after, .user-card dd::after {
  display: block;
  clear: both;
  content: "";
}

.mt24 {
  margin-top: 24px;
}

.text-slender {
  font-size: 8px;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
